@font-face { font-family: 'RobotoRegular'; font-weight: normal; font-style: normal; src: url('../fonts/Roboto-Regular.ttf') format('truetype') }
@font-face { font-family: 'RobotoThin'; font-weight: normal; font-style: normal; src: url('../fonts/Roboto-Thin.ttf') format('truetype') }
@font-face { font-family: 'RobotoThinItalic'; font-weight: normal; font-style: normal; src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype') }
@font-face { font-family: 'RobotoBold'; font-weight: normal; font-style: normal; src: url('../fonts/Roboto-Bold.ttf') format('truetype') }
@font-face { font-family: 'RobotoItalic'; font-weight: normal; font-style: normal; src: url('../fonts/Roboto-Italic.ttf') format('truetype') }
@font-face { font-family: 'RobotoBoldItalic'; font-weight: normal; font-style: normal; src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype') }

/* other */
::selection {
  background: rgba(124,196,255,0.6);
}

/* elements */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
}

em {
  font-family: 'RobotoItalic';
}

strong {
  font-family: 'RobotoBold';
}

html {
  font-family: 'RobotoRegular';
  /*font-size: 16px;*/
  /*font-weight: 1px;*/
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333333;
  background: #EDEDED;
}

/* class styles */
.left-nav {
  width: 200px;
}

.left-nav li {
  list-style: none;
  padding: 4px;
}

